@model MDisasaterDampener.Models.FoodDonationViewModel

@{
    ViewData["Title"] = "All Food Donations";
}

<h1>All Food Donations</h1>
<div class="table_container">
    <table>
        <thead>
            <tr class="table_header">
                <th>Category</th>
                <th>Name</th>
                <th>Description</th>
                <th>Expiry Date</th>
                <th>Weight</th>
                <th>Relief Efforts</th>
                <th>Donation Date</th>

            </tr>
        </thead>
        <tbody>
            @if (Model.foodDonations != null && Model.foodDonations.Any())
            {

                @foreach (var fd in Model.foodDonations)
                {

                    <tr class="table_row">
                        <td class="table_column">
                            @fd.Category.ToString()
                        </td>
                        <td class="table_column">
                            @fd.Item_Name
                        </td>
                        <td class="table_column">
                            @fd.Description_and_inner_units
                        </td>
                        <td class="table_column">
                            @fd.Expiry
                        </td>
                        <td class="table_column">
                            @fd.Weight
                        </td>
                        <td class="table_column">
                            @fd.RE_Id.Title
                        </td>
                        <td class="table_column">
                            @fd.Donation_Date
                        </td>
                    </tr>

                }
            }
            else
            {
                <h2>Sorry there are no Food Donations</h2>
            }
        </tbody>
    </table>
</div>


